# Introduction to Scikit- Learn(sklearn)

This notebook demonstrates some of the most useful functions
of the beautiful Scikit-Learn library

What we're going to cover:

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our date
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together!

## 0. An end-to-end Scikit-Learn workflow

In [2]:
# 1.Get the data ready
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
import numpy as np

In [3]:
# Create X (features matrix)
x = heart_disease.drop("target", axis=1)

# Create y(labels)
y = heart_disease["target"]

In [9]:
#2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# We'll kep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=9)

In [10]:
clf.fit(x_train, y_train);

In [14]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
166,67,1,0,120,229,0,0,129,1,2.6,1,2,3
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2
160,56,1,1,120,240,0,1,169,0,0.0,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
271,61,1,3,134,234,0,1,145,0,2.6,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,64,1,0,128,263,0,1,105,1,0.2,1,1,3
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
218,65,1,0,135,254,0,0,127,0,2.8,1,1,3
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [18]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
127,67,0,2,152,277,0,1,172,0,0.0,2,1,2
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
94,45,0,1,112,160,0,1,138,0,0.0,1,0,2
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2
231,57,1,0,165,289,1,0,124,0,1.0,1,3,3
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2
214,56,1,0,125,249,1,0,144,1,1.2,1,1,2
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3

In [20]:
# make a prediction
y_label = clf.predict(np.array([0, 2, 3, 4])

SyntaxError: incomplete input (3386092011.py, line 2)

In [19]:
y_preds = clf.predict(x_test)
y_preds

array([1, 0, 1, 1, 0, 1, 0, 1, 0])

In [21]:
y_test

127    1
111    1
94     1
153    1
231    0
64     1
214    0
278    0
198    0
Name: target, dtype: int64

In [22]:
# Evaluate the model on the training data and test data
clf.score(x_train, y_train)

1.0

In [23]:
clf.score(x_test, y_test)

0.7777777777777778

In [27]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.75      0.75      0.75         4
           1       0.80      0.80      0.80         5

    accuracy                           0.78         9
   macro avg       0.78      0.78      0.78         9
weighted avg       0.78      0.78      0.78         9

In [28]:
confusion_matrix(y_test, y_preds)

array([[3, 1],
       [1, 4]])

In [30]:
accuracy_score(y_test, y_preds)

0.7777777777777778

In [38]:
#5. Improve a model 
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test)  * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 66.67%

Trying model with 20 estimators...
Model accuracy on test set: 77.78%

Trying model with 30 estimators...
Model accuracy on test set: 77.78%

Trying model with 40 estimators...
Model accuracy on test set: 88.89%

Trying model with 50 estimators...
Model accuracy on test set: 88.89%

Trying model with 60 estimators...
Model accuracy on test set: 88.89%

Trying model with 70 estimators...
Model accuracy on test set: 88.89%

Trying model with 80 estimators...
Model accuracy on test set: 88.89%

Trying model with 90 estimators...
Model accuracy on test set: 77.78%

In [39]:
# Save a model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [40]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.7777777777777778